html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 34);
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
}

canvas {
  display: block;
  position: fixed;
  pointer-events: none;
}

#canvas {
  pointer-events: none;
}

.asset {
  display: none;
}

.skills, .projects, .other {
  color: white;
  position: fixed;
  text-align: center;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  user-select: none;
  opacity: 1;
  transition: opacity 0.75s ease;
}

.contact img {
  display: block;
}

.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 10000;

}

.contact h1 {
  font-size: 72px;
  user-select: none;
}
.linkedinButton{
  padding: 0;
  margin: 0;
}
.linkedinButton img {
  display: block;
  user-select: none;
}

.resumeButton {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #fff;
  border-radius: 999px;
  text-decoration: none;
  width: 74px;
  height:74px;
  border: 0.5px solid white;
  user-select: none;
}

.planetText {
  color: white;
  font-size: 18px;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.planetText .link {
  pointer-events: all;
  width: 50px;
  margin: auto;
}

.repo-link {
  width: 48px;
}

.link {
  display: flex;
  justify-content: center;
}

p{
  
  user-select: none;
}