body {
    padding: 0px;
    margin: 0px;
    height: calc(100vh - 64px);
    background: linear-gradient(135deg, #92b5ee, #7a5bd1, #63b47b);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
}
.container {
    margin: 0;
    margin-top: 64px;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    color: #ffffff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.233);
}

nav button {
    background-color: transparent;
    color: #818181;
    border: none;
    width: 33%;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
}

nav button:hover {
    background-color: rgba(129, 129, 129, 0.2);
}

.profile {
    text-align: center;
    margin-bottom: 48px;
}

.profile h1 {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    font-weight: initial;
}
.profile h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 2rem;
}
.profile p {
    font-size: 24px;
    font-family: 'Josefin Slab', serif;
    margin: 0px 48px 48px 48px;
}
.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
.project {
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.project img {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin: auto;
    display: flex;
    border-radius: 5px;
}
.screenshots {
    display: flex;
}
.project-content {
    padding: 1rem;
}
.project a {
    color: rgb(255, 255, 255);
}
.link-logo{
    height: 64px !important;
    width: auto !important;
    margin: auto;
    margin-top: 6px !important;
    display: flex;
}
.project h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.project p {
    font-size: 24px;
}
.contact-btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}
.contact-btn:hover {
    background-color: #555;
}
.contact-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid;
    background: #ffffff2e;
    border-radius: 5px;
    font-size: 24px;
}
.contact{
    text-align: center;
    padding-top: 48px;
}

.social-links {
    display: flex;
    margin: 8px;
}
.social-links a {
    margin: 8px;
}
.skills-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    text-align: center;
    transition: transform 0.2s ease-in-out;
    height: 100px;
    width: 100px;
    margin: 24px;
}
.skill img{
    height: 100%;
    width: auto;
}

.work, .contact{
    display: none;
}
.disable {
    pointer-events: none;
    cursor: default
}
.active {
    opacity: 1!important;
}

.controler{
    margin-top: 64px;
}
.slider-container {
    width: 66%;
    margin: 12px auto;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
  .project {
    flex: 0 0 100%; 
    margin: 32px auto;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
  }
    
  .project-content {
    margin-top: 10px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 5%;
  }
  
  .next-button {
    right: 5%;
  }
  
  .prev-button::before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: 50%;
    left: 32%; 
    transform: translateY(-50%);
  }
  
  .next-button::before {
  content: '';
  display: block;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translateY(-50%);
  }